<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidquicktrackmeet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quick Track Meet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidQuickTrackMeet">
        <activity android:name=".EventsActivity"></activity>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MeetsActivity" />
        <activity
            android:name=".AddMeetActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MeetsActivity" />
        <activity
            android:name=".SchoolsActivity"
            android:label="Schools"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MeetsActivity"
            android:label="Meets"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>