<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidquicktrackmeet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quick Track Meet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidQuickTrackMeet"
        android:orientation="vertical">
        <activity
            android:name=".schools.SchoolCoachesActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".schools.schoolAthletes" />
        <activity
            android:name=".schools.ActivityAddSchool"
            android:launchMode="singleTask"
            android:parentActivityName=".schools.SchoolsActivity" />
        <activity
            android:name=".schools.schoolAthletes"
            android:launchMode="singleTask"
            android:parentActivityName=".schools.SchoolsActivity" />
        <activity
            android:name=".meets.AddSchoolsToMeet"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.meetathletes.MeetAthletesActivity" />
        <activity
            android:name=".meets.themeet.meetathletes.AthleteEventsFromMeets"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.AddMeetActivity" />
        <activity
            android:name=".meets.themeet.meetathletes.AddEventsToAthlete"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.meetathletes.AthleteEventsFromMeets" />
        <activity
            android:name=".meets.themeet.meetathletes.MeetAthletesActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.HomeActivity" />
        <activity
            android:name=".meets.themeet.events.theevent.addathletestoevent.AddAthlete"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.events.theevent.addathletestoevent.AddAthleteToEventActivity" />
        <activity
            android:name=".meets.themeet.ScoresActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.HomeActivity" />
        <activity
            android:name=".meets.themeet.events.theevent.addathletestoevent.AddAthleteToEventActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:parentActivityName=".meets.themeet.events.theevent.EventEditActivity" />
        <activity
            android:name=".meets.themeet.events.theevent.EventEditActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.events.EventsActivity"

            android:windowSoftInputMode="stateHidden|adjustResize"

           />
        <activity
            android:name=".meets.themeet.events.EventsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.themeet.HomeActivity" />
        <activity
            android:name=".meets.themeet.HomeActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.MeetsActivity" />
        <activity
            android:name=".meets.AddMeetActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".meets.MeetsActivity" />
        <activity
            android:name=".schools.SchoolsActivity"
            android:label="Schools"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".meets.MeetsActivity"
            android:label="Meets"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>